@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kalam&display=swap&subset=latin-ext");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gloria Hallelujah', cursive;
   
}

.header-class {
  background-color: #f1f1f1;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
}
body {
  margin: 8px;
}
.home-class {
  display: flex;
  padding: 10%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.1);
}
.qoutation-class {
  width: 60%;
  font-family: "Indie Flower", cursive;
  text-shadow: 0 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);
}
.poster-class {
  width: 40%;
}
.nav-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
}
.nav-button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.container-contact {
  max-width: 400px;

  margin: 0 auto;
  position: relative;
}
.form-class {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 400px; */
}

.inputs-area {
  display: flex;
  flex-direction: column;
}
.input-field {
  /* border: 1px solid #ccc;
    background: #fff; */
  margin: 5px 5px;
  padding: 14px;
}
.button-submit {
  width: 100px;
  margin: 5px 5px;
  padding: 5px;
}

textarea {
  height: 100px;
}
h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 5px;
  font-family: "Indie Flower", cursive;
}
.loading-div {
  box-shadow: 11px 12px 19px 14px rgba(0, 10, 49, 0.79);
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.loading-img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.loading-positioning {
  position: absolute;
  left: 235px;
  top: 15px;
}
.is-active > button {
  background-color: rgb(77, 120, 236);
}
.people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.person-card {
  margin: 10px;
  color: #000;
  width: 500px;
  min-width: 400px;
  display: flex;
  transition: 1.3s;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
}
.person-picture {
  width: 200px;

  border-radius: 50%;
}

.person-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.person-card:hover {
  cursor: pointer;
  background-color: lawngreen;
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 2s;
  width: 50%;
  margin: 5% auto;
  border: solid 3px rgba(10, 10, 10, 0.5);
  box-shadow: 5px 5px 10px 6px rgba(10, 10, 10, 0.5);
}

.card > div {
  margin: 10px;
}
.card-div-picture {
  display: flex;
}
.card-img {
  margin: 10px auto;
}
a{
  text-decoration: none;
}
.upper-case
{
  text-transform: capitalize;
}